@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

main {
  background: #e5e5e5;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: none;
  top: 0;
  margin: auto;
  align-self: center;
  height: 80px;
  z-index: 3000;
}

.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
}

nav > span {
  display: none;
}

nav img {
  position: relative;
  width: 40px;
  height: 40px;
  right: 2vh;
  top: 2vh;
  border-radius: 8px;
}

#sec1 {
  position: relative;
  background: white;
  border-bottom-left-radius: 150px;
  padding-top: 180px;
  margin: auto;
  background-image: url("./assets/bg.svg");
  background-repeat: no-repeat;
  background-position: bottom bottom;
  background-size: 100%;
  background-position-y: 10vh;
  height: 718px !important;
}

#logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #6070ff;
  padding: 10px 12px;
  position: absolute;
  width: 300px;
  height: 40px;
  left: 2vh;
  top: 2.5vh;
}

/* Section */
#nm {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 290%;
  line-height: 25px;
  color: #344563;
  width: 100%;
  margin-bottom: 10%;
  position: static;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1 !important;
}

.desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 50 !important;
  font-size: 130%;
  line-height: 120%;
  color: #344563;
  height: 146px;
  width: 100%;
  position: static;
  margin-bottom: 12%;
  animation: 4s fadeIn;
}

.lnk {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 120%;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
  position: static;
  align-self: flex-start;
  animation: 5s slideInLeft;
}

.socials {
  padding: 0;
  position: static;
  align-self: flex-start;
  animation: 4s fadeIn;
}

.socials li {
  display: inline;
}

.socials img {
  width: 20px;
  margin: 10px 2px;
  position: static;
}

/* Works */

.card {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid #dfe1e6;
  margin-top: 100px;
  border-radius: 16px;
}

.card > div {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 5%;
  width: 100%;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card a {
  overflow: hidden;
}

.card img {
  scale: 1;
  border-radius: 8px;
  transition: scale 1s ease-in-out;
}

.port-screen {
  display: none;
}

.card h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 200%;
  line-height: 44px;
  color: #172b4d;
}

.details {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.details h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 80%;
  line-height: 16px;
  position: relative;
  top: 4px;
}

.details li {
  display: inline;
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 80%;
  line-height: 16px;
}

.card p {
  font-style: normal;
  font-weight: 400;
  font-size: 95%;
  line-height: 160%;
  color: #344563;
}

.tech {
  display: inline-grid;
  display: -moz-inline-grid;
  grid-template-columns: 0.5fr 0.5fr 2fr;
  gap: 8px;
}

.tech li {
  font-weight: 500;
  font-size: 77%;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #6070ff;
  text-align: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  list-style: none;
}

.js {
  width: 89px !important;
}

.card button {
  padding: 1%;
  width: 135px;
  background: #fff;
  font-weight: 500;
  font-size: 105%;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  gap: 10px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  transition: color 1s ease-in;
  transition: background 1s ease-in;
}

/* About me  */

.about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 100%;
  background: white;
  margin-top: 40px;
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  border-top-right-radius: 150px;
  position: relative;
  top: 8vh;
  z-index: 1 !important;
}

.about > div {
  width: 90%;
  margin: auto;
}

.about p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
  margin-top: 10px;
}

.about .lnk2 {
  position: relative;
  top: 10px;
  left: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.socials2 {
  margin: 8px;
  margin-bottom: 10px;
}

.socials2 li {
  display: inline;
  margin: 20px 8px;
}

i {
  color: #505f79;
}

.about button,
#submit {
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 1%;
  width: 48%;
  height: 48px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 10px;
}

.about .languages {
  margin: 40px 5px;
}

.languages h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.languages ul {
  width: 95%;
  list-style: none;
  margin: auto;
}

.languages ul img {
  margin: 0 10px;
}

.languages li {
  display: flex;
  gap: 10px;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  margin: 10px 5px;
}

.aboutPreMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.languages hr {
  background: #dfe1e6;
  height: 1px;
  border: none;
}

/* Contact */
.contact {
  text-align: center;
  background-image: url("./assets/bg_contact.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
  background-color: #6070ff;
  width: 100%;
  height: 779px;
  color: white;
  border-top-left-radius: 100px;
  padding-top: 120px;
  position: relative;
  z-index: 1000 !important;
}

.contact > div {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.contact h3 {
  font-weight: 700;
  font-size: 280%;
  line-height: 52px;
}

.contact p {
  font-style: normal;
  font-weight: 400;
  font-size: 125%;
  line-height: 28px;
  color: #ebebff;
  width: 87%;
}

.contact form {
  width: 85%;
  border: none;
  outline: none;
}

.contact input {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  height: 49px;
  margin-top: 25px;
}

#full-name,
#email-address {
  font-weight: 400;
  font-size: 110%;
  line-height: 20px;
  color: #172b4d !important;
  padding: 10px;
}

#full-name::placeholder,
#email-address::placeholder {
  color: #172b4d;
}

#message {
  font-weight: 400;
  line-height: 24px;
  font-size: 115%;
  color: #b3bac5;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
}

#submit {
  float: left;
}

/* Responsive design */
@media only screen and (min-width: 1170px) {
  .lnk {
    position: relative !important;
    top: -10px !important;
    transform: translate(0%, -5vh);
  }

  .socials {
    position: relative !important;
    top: 18px !important;
  }
}

@media only screen and (min-width: 888px) {
  .lnk {
    margin-top: 41px !important;
    position: relative !important;
    top: -20px !important;
  }
}

@media only screen and (min-width: 640px) {
  .lnk {
    margin-top: 0 !important;
    position: relative !important;
    top: -40px !important;
  }

  .desc {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 520px) {
  .lnk {
    margin-top: 0 !important;
    position: relative !important;
    top: -20px !important;
  }

  .desc {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 490px) {
  .lnk {
    margin-top: 0 !important;
  }

  .desc {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 390px) {
  .lnk {
    margin-top: 40px !important;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    display: inline-block;
    width: auto;
    min-width: 380px;
    max-width: 90%;
  }

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card > div {
    margin: 30px 0;
  }
}

@media only screen and (min-width: 768px) {
  /* header */
  header > a {
    position: relative;
    left: 10vh;
  }

  header > nav {
    position: relative;
    right: 10vh;
  }

  nav span {
    display: block;
  }

  nav > span ul {
    width: 350px;
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    margin: 29.5px 0;
  }

  nav img {
    display: none;
  }

  /* Section 1 */
  .break {
    display: none;
  }

  #sec1 {
    background-image: url("./assets/bg_screen.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90%;
    background-position-y: 5vh;
  }

  #nm,
  .desc {
    margin: 0;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .desc {
    height: 70px;
    margin-top: 20px;
  }

  .lnk {
    position: relative;
    top: 60px !important;
  }

  .socials {
    position: relative;
    top: 60px;
  }

  .socials img {
    margin-top: 0;
  }

  /* Section 2: cards */
  .card {
    width: 80%;
  }

  .works {
    display: flex;
    flex-direction: column;
  }

  .card > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 20px;
  }

  .port-mob {
    display: none;
  }

  .port-screen {
    display: block;
  }

  .rev-grid {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    align-items: center;
  }

  .card-wrap {
    margin: 30px;
    width: 82%;
    gap: 33px;
  }

  .card-wrap h2 {
    font-size: 250%;
    line-height: 52px;
  }

  .details {
    grid-template-columns: 1fr 5fr;
  }

  .details ul {
    color: #6b778c;
  }

  .details li {
    margin-right: 0;
    margin-left: 15px;
  }

  .tech {
    grid-template-columns: 0.5fr 0.5fr 3.2fr;
  }

  .tech li {
    width: 53px;
  }

  .order1 {
    order: 1;
  }

  .order2 {
    order: 2;
  }

  .order3 {
    order: 3;
  }

  .order4 {
    order: 4;
  }

  /* Section 3: About */
  .about > div {
    width: 85%;
    display: grid;
    grid-template-columns: 1.6fr 2.2fr;
  }

  .about-wrap {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .about-wrap h2 {
    font-size: 200%;
  }

  .languages ul {
    display: flex;
    max-width: 750px;
  }

  .languages li {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    width: 122px;
    height: 120px;
    padding: 16px;
  }

  .languages img {
    margin: 0;
    padding: 0;
  }

  /* Section4: Contact */
  .contact > div {
    width: 39%;
  }

  #submit {
    float: none;
  }

  .contact {
    background-image: url("./assets/bg_contact_screen.svg") !important;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: left bottom !important;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-left: 100%;
    width: 300%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    margin-left: 20%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
  }
}

/* Linter requests */
.card img:hover {
  border-radius: 8px;
  scale: 1.05;
}

nav > span li:hover {
  color: blue;
}

#sec1 > div {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about > div > h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #172b4d;
}

.about button:hover {
  background-color: #396df2;
  color: #fff;
}

#submit:hover {
  background-color: #396df2;
  color: #fff;
}

.languages li:hover {
  background: #d1d1d493;
}

.tech li:hover {
  background: #ebebffa5;
}

.card button:hover {
  background-color: #396df2;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  #sec1 > div {
    width: 65% !important;
    gap: 10px;
    top: 10vh;
  }

  .card > div img {
    max-width: 100%;
    min-width: 313px;
    width: 100%;
  }
}
